body {
  padding: 0px;
  margin: 0px;

  font-family: 'Roboto','nunito','Libre Baskerville', serif;
  text-decoration: none;
}
h1 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.25rem;
}
p {
  font-size: 1rem;
}
header {
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
//   width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.3);
  position: fixed;
  // display: flex;
//   justify-content: space-between;
  align-items: center;
  // height: 70px ;
  z-index: 99;
}
header a {
  color: white;
}
.logo {
  text-align: center;
}

.search form {
  display: flex;
}
.search .form-control {
  display: inline-block;
  background-color: none;
}
.btn {
  margin-left: 10px;
}
.menu {
  display: flex;
  justify-content: space-around;
}
.menu p {
  display: flex;
  align-items: center;
  color: white;
  margin: 0;
  padding: 0;
}
.logo {
  font-style: bold 500;
}
.gap {
  height: 150px ;
}

//index page
#index {
  background-image: url('/images/162439.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 100vh;
  padding-top: 300px;
  padding-left: 200px;
  padding-right: 250px;
}
#index button {
  margin: 0px;
  margin-top: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1rem;
  border-radius: 100px;
}
#index button a {
  text-decoration: none;
  color: white;
}
//log-in page
#log-in {
  height: 100vh;
  padding-top: 200px;
  background-image: url('/images/162439.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
#log-in button {
  margin: 0px;
}
#log-in .submit {
  margin-top: 30px;
  text-align: center;
}
//sign-up page
#sign-up {
  height: 100vh;
  padding-top: 200px;
  background-image: url('/images/162439.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
#google-img {
  margin-top: 30px;
  text-align: center;
}
#google-img img {
  height: 50px;
}
//random-page
#random-page {
  padding-top: 150px;
  background-color: #3F729B;
}

.random {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.random h2 {
  color: white;
  margin-bottom: 50px;
}
.random h3 {
  margin-top: 50px;
  margin-bottom: 30px;
}
.random img {
  width: 200px;
}
.random p {
  color: darkgray;
  margin-top: 30px;
}
//search-bar page
#search-bar {
  padding-top: 150px;
}
//home page
#home {
  padding: 30px;
  padding-top: 150px;
  background-color: #3F729B;
}
#home h3 {
  color: white;
  margin-bottom: 30px;
}
#home .home-page {
  margin-bottom: 30px;
}
#home .home-page img {
  width:150px;
}
#home .favorite-books {
  margin-bottom: 30px;
}
#home #friends {
  margin-bottom: 30px;
}
#home #friends a {
  color: black
}
#home #find-user {
  margin-bottom: 30px;
}




#book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 242, 230);
  margin: 10px;
  padding: 10px;
}

#book-card img {
  height: 130px;
} 

#book-card>img {
  border: 1px solid lightblue
}

#small-image {
  height: 40px;
}
.book-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment-section {
  margin-top: 30px;
}
.comment-form #comment {
  display: block;
  width: 100%;
  height: 300px;
  color: grey;
}
.add-section {
  margin-top: 50px;
}
.user-card img {
  width: 100px;
}

.search-ammount>*{
  color: white;
  margin-right: 2px;
}

.search-ammount>a{
  margin-left: 10px;
  padding: 3px;
  border: 1px solid white
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  padding-bottom: 13px;
}

.page {
  margin: 3px 10px;
}
.page>*{
  margin: 0px 2px;
}