
body {
  padding: 0px;
  margin: 0px;
  background-image: url('/images/162439.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -100px;
  font-family: 'Roboto','nunito','Libre Baskerville', serif;
  text-decoration: none;
}
h1 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.25rem;
}
p {
  font-size: 1rem;
}
header {
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.3);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px ;
  z-index: 99;
}
header a {
  color: white;
}
.search form {
  display: flex;
}
.search .form-control {
  display: inline-block;
  background-color: none;
}
.btn {
  margin-left: 10px;
}



.logo {
  font-style: bold 500;
}


.gap {
  height: 100px ;
}
.home-page img {
  width:300px;
}

.random {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
}
.random img {
  width: 200px;
}
#book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 242, 230);
  margin: 10px;
  padding: 10px;
}

#book-card img {
  height: 130px;
} 

#book-card>img {
  border: 1px solid lightblue
}

#small-image {
  height: 40px;
}
.book-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment-section {
  margin-top: 30px;
}
.comment-form #comment {
  display: block;
  width: 100%;
  height: 300px;
  color: grey;
}
.add-section {
  margin-top: 50px;
}
.user-card img {
  width: 100px;
}

.search-ammount>*{
  color: white;
  margin-right: 2px;
}

.search-ammount>a{
  margin-left: 10px;
  padding: 3px;
  border: 1px solid white
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  padding-bottom: 13px;
}

.page {
  margin: 3px 10px;
}
.page>*{
  margin: 0px 2px;
}