body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto','nunito','Libre Baskerville', serif;
  text-decoration: none; }

h1 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h5 {
  font-size: 1.25rem; }

p {
  font-size: 1rem; }

header {
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  align-items: center;
  z-index: 99; }

header a {
  color: white; }

.logo {
  text-align: center; }

.search form {
  display: flex; }

.search .form-control {
  display: inline-block;
  background-color: none; }

.btn {
  margin-left: 10px; }

.menu {
  display: flex;
  justify-content: space-around; }

.menu p {
  display: flex;
  align-items: center;
  color: white;
  margin: 0;
  padding: 0; }

.logo {
  font-style: bold 500; }

.gap {
  height: 150px; }

#index {
  background-image: url("/images/162439.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 100vh;
  padding-top: 300px;
  padding-left: 200px;
  padding-right: 250px; }

#index button {
  margin: 0px;
  margin-top: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1rem;
  border-radius: 100px; }

#index button a {
  text-decoration: none;
  color: white; }

#log-in {
  height: 100vh;
  padding-top: 200px;
  background-image: url("/images/162439.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }

#log-in button {
  margin: 0px; }

#log-in .submit {
  margin-top: 30px;
  text-align: center; }

#sign-up {
  height: 100vh;
  padding-top: 200px;
  background-image: url("/images/162439.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center; }

#google-img {
  margin-top: 30px;
  text-align: center; }

#google-img img {
  height: 50px; }

#random-page {
  box-sizing: border-box;
  padding: 0px;
  padding-top: 150px;
  margin: 0px;
  height: 100vh;
  background-image: url("/images/124423.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; }

#random-page-2 {
  margin: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  text-align: center;
  border: solid 1px gray;
  border-radius: 30px; }

#random-page-2 > * {
  text-align: center;
  color: gray; }

.random {
  display: flex;
  flex-direction: column;
  align-items: center; }

.random h2 {
  color: white;
  margin-bottom: 30px; }

.random h3 {
  color: black;
  margin-top: 20px;
  margin-bottom: 20px; }

.random h5 {
  color: black; }

.random img {
  width: 200px; }

.random p {
  color: darkgray;
  margin-top: 30px; }

#search-bar {
  padding-top: 150px;
  color: black; }

.home {
  min-height: 100vh;
  padding: 30px;
  padding-top: 150px;
  background-color: #eae7dc; }

.home h5 {
  color: gray;
  margin-bottom: 30px; }

.home .home-page {
  margin-bottom: 50px;
  padding: 20px;
  background-color: #f0f0f0; }

.home .home-page img {
  width: 150px;
  height: 150px;
  border-radius: 20px; }

.home .home-page .info-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between; }

.home .home-page .info-panel a {
  color: white; }

.home .favorite-books {
  margin-bottom: 30px; }

.home .favorite-books .book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px; }

.home .favorite-books .book-card a {
  font-size: 0.75rem;
  color: black; }

.book-card img {
  height: 130px; }

.book-card > img {
  border: 1px solid lightblue; }

.home .favorite-books .book-card button a {
  font-size: 0.75rem;
  color: white; }

.home .friends {
  margin-bottom: 30px; }

.home .friends a {
  color: black; }

.home .friends button a {
  color: white; }

.home .friends img {
  width: 40px;
  height: 40px;
  border-radius: 20px; }

.home #find-user {
  margin-bottom: 30px; }

.home .comments button a {
  color: white; }

#home-edit {
  height: 100vh;
  padding: 150px;
  background-image: url("/images/124384.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#home-edit p {
  margin-top: 30px; }

#home-edit button a {
  color: white; }

#change-password {
  height: 100vh;
  padding: 150px;
  background-image: url("/images/124384.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#change-password button a {
  color: white; }

.search-ammount > * {
  color: black;
  margin-bottom: 20px; }

.search-ammount > a {
  margin-left: 10px;
  padding: 3px;
  border: 1px solid black; }

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  padding-bottom: 13px; }

.page {
  margin: 3px 10px; }

.page > * {
  margin: 0px 2px; }

.books {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px; }

.books * {
  text-align: center; }

.books h5 {
  margin-top: 5px;
  font-size: 1rem; }

.books p {
  font-size: 1rem;
  color: gray; }

.books button a {
  color: white; }

.book {
  padding-top: 150px; }

.book-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; }

.comment-section {
  margin-top: 30px; }

.comment-section img {
  width: 50px;
  height: 50px;
  border-radius: 25px; }

.comment-form #comment {
  display: block; }

.add-section {
  margin-top: 50px; }

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center; }

.user-card img {
  width: 100px; }

.profile {
  min-height: 100vh;
  padding: 30px;
  padding-top: 150px;
  background-color: #eae7dc; }

.profile .panel {
  display: flex;
  justify-content: space-between; }

.profile .panel a {
  color: white; }

.profile .edit-panel {
  margin-bottom: 30px; }

.profile .edit-panel img {
  width: 200px;
  height: 200px;
  border-radius: 20px; }

/*# sourceMappingURL=style.css.map */