<div id="index" class="container-fluid">
    <div class="row">
        <div class="col">
        <h3>Welcome to Bookje!</h3>
        <h1>The book app you could use to build your own bookshelf, to write reviews and to meet friends.</h1>
        <button class="btn btn-info"><a href="/random">A Book for you</a></button>
        </div>

    </div>
</div>
