<div id="index">
    <h1>Bookje is the book app you could use to build your own bookshelf to write reviews and to meet friends</h1>
    <button><a href="/random">Bookje's recommendation</a></button>
</div>
