<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <div class="header">

  </div>
  <div class="search-bar">
    <div class="container">
    <img src="/images/search-icon.jpg" alt="">
    <input type="text" value="Search by Title, or author…">
    </div>
  </div>
  <div class="shadow"></div>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>