<div class="container-fluid">

     <div class="row justify-content-center search-ammount">
        <h4>{{ammountOfBooks}}</h4><p>Books found</p>
        {{!-- <h4>- Pages:</h4>
        {{#each pages}}
        <a href="/search-results/{{this}}">{{this}}</a>
        {{/each}} --}}
        <div class="pages">
            <div class="page">
                
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        {{#each books}}
        {{>bookCard}}
        {{/each}}
    </div>
</div>

