<div id="home-edit">
  <h2>Edit your Profile</h2>
  <form action="/home/edit/{{user._id}}" method="post" enctype="multipart/form-data">
  <label>Username</label>
  <input type="text" name="username" value="{{user.username}}">

  <label>Profile Image</label>
  <input type="file" name="photo">


  <button class="btn btn btn-success" type="submit"> SAVE </button>
  {{#if isADMIN}}
  <button class="btn btn btn-warning"><a href="/admin">quit</a></button>
  {{else}}
  <button class="btn btn btn-warning"><a href="/home">quit</a></button>
  {{/if}}
  </form>
  <p>*please upload jpg or png format</p>
  
</div>
