<h2>Change my password</h2>
<form action="/password/{{user._id}}" method="post">

  <label for="password">Password</label>
  <input type="password" name="password" value="******">

  <input type="submit" value="SAVE">
</form>
<button><a href="/home">quit</a></button>