<div id="change-password">
<h2>Change my password</h2>
<form action="/password/{{user._id}}" method="post">

  <label for="password">Password</label>
  <input type="password" name="password" value="******">

  <button class="btn btn btn-success" type="submit"> SAVE</button>
  {{#if isADMIN}}
  <button class="btn btn btn-warning"><a href="/admin">quit</a></button>
  {{else}}
  <button class="btn btn btn-warning"><a href="/home">quit</a></button>
  {{/if}}
</form>

</div>
